google_client_id           = "YOUR_GOOGLE_CLIENT_ID"
google_client_secret       = "YOUR_GOOGLE_CLIENT_SECRET"
cognito_domain_prefix_east = "your-app-cognito-east"
cognito_domain_prefix_west = "your-app-cognito-west"
